<h1>Dashboards#index</h1>
<p>Find me in app/views/dashboards/index.html.erb</p>
<%=link_to("click to view students",:controller=>"students", :action=>"index")%>
<%=link_to("New Students",:controller=>"students", :action=>"new")%>