<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar navbar-collapse collapse" id="navbar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#"> Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a href="#">View Profile</a></li>
        <li><a href="#">Edit Profile</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li>------------------------------------------------</li>
        <li><%=link_to("Pool Car", pool_car_path)%></li>
        <li><%=link_to "View Share Cars", user_share_cars_path(current_user.id)%></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><%=link_to("Logout",destroy_user_session_path, method: :delete)%></li>
      </ul>
    </div>
    
  </div>
</div>