.row{
	margin-right: -35px;
	margin-left: -35px;
}
.navbar{
	background: #FFF;
	border-width: 1px;
	opacity: .90;
	height: 80px;	
}
.navbar-default .navbar-brand{
	color: black;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
}
.logo{
	border-radius: 100px;
}
#nav_links{
	margin-top: 10px;
	margin-right: 20px;
}
#nav_links li a{
	color: black;
}
.container-fluid{
	background:url("../img/carpool.jpg") no-repeat;
	background-size: cover;
	height: 700px;
}
.panel-default{
	margin-top: 180px;
}
#brand_slogan{
	margin-top: 300px;
	color: white;
	font-size: 20px;
	margin-left: 140px;
	font-weight: bold;
	letter-spacing: 2px;
}
#brand_slogan h3{
	margin-left: 50px;
}

